html {
  box-sizing: border-box;
  height: 100%;
}
*,
*::before,
*::after {
  box-sizing: inherit;
  margin: 0;
  padding: 0;
}

body {
  display: flex;
  align-items: center;
  background: linear-gradient(320deg, #260006, #0b0124);
  font-family: Arial, Helvetica, sans-serif;
  font-display: swap;
  height: inherit;
  justify-content: center;
}

.wrapper {
  backdrop-filter: Blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  color: #232323;
  backdrop-filter: Blur(4px);
  -webkit-backdrop-filter: blur(4px);
  background-color: rgba(255, 255, 255, 0.3);
  flex-basis: 400px;
  height: 540px;
  padding: 20px 35px;
}

.screen {
  backdrop-filter: Blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  color: #232323;
  font-size: 35px;
  overflow: auto;
  padding: 20px;
  text-align: right;
  width: 326px;
}

.calc-btns-row {
  display: flex;
  justify-content: space-between;
  margin: 5% 0;
}

.calc-btn {
  backdrop-filter: Blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  color: #232323;
  flex-basis: 20%;
  font-display: 24px;
  height: 65px;
  transition: 0.05s ease-in;
  font-size: 2rem;
}

.calc-btn:last-child {
  backdrop-filter: Blur(5.5px);
  -webkit-backdrop-filter: blur(5.5px);
  background-color: rgba(255, 255, 255, 0.2);
  border: 1px solid rgba(255, 255, 255, 0.01);
  border-radius: 16px;
  box-shadow: 0 4px 30px rgba(35, 35, 35, 0.1);
  color: #fff;
  background-color: #ff9d00;
}

.calc-btn:last-child:hover {
  background: inherit;
  color: inherit;
}

.calc-btn:hover {
  background-color: inherit;
}

.calc-btn:active {
  transform: scale(0.9);
}

.double {
  flex-basis: 47%;
}

.zero {
  flex-basis: 73%;
}
